@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&family=Langar&family=Roboto+Mono&display=swap');

html{
	scroll-behavior: smooth;
}

body{
	height: 100vh;
	margin: 0;
	font-family: 'Andika New Basic', Arial, Helvetica, sans-serif;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

img{
	width: 100%;
}

.nav-container{
	background: #6007C5;

	a{
		color: #fff;
	}
}

header{
	display: flex;
	justify-content: space-between;
	padding: 2em;

	.logo{
		color: #51FF9B;
		font-weight: bold;
		font-size: 15px;
	}

	ul{
		display: flex;

		a{
			display: block;
			padding: 0 1em;
			font-size: 13px;
		}
	}
}

.social-header, .hero-design{
	display: none;
}

.hero{
	background: #6A00E3;
	color: #fff;
	display: grid;
	text-align: center;
	padding: 4em;
}

#head-h1-1{
	margin-bottom: 0;
	font-weight: 400;
}

#head-h1-2{
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

#head-h1-3{
	margin-top: 0;
	margin-bottom: 1.5em;
}

#creativity{
	font-family: 'Langar';
	font-weight: 100;
	font-size: 62px;
	color: #edffdb;
}

#inno{
	font-family: 'Roboto Mono';
	font-weight: 200;
	font-size: 62px;
}

.meet{
	display: flex;
	margin: 0 auto;
	width: 200px;
	font-weight: bold;
	color: #FFF24A;

	span{
		margin: 1em .5em 0 0;
	}
}

.scroll{
	width: 30px;
	margin-top: 2em;
}

section{
	padding: 4em 2em;
	text-align: center;
}

.featured{
	position: relative;
}
.featured::before{
	content: "";
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: #C7C0F5;
	top: 0;
	left: 0;
	z-index: -1;
}

.skill-heading{
	font-size: 50px;
}

.skill-text{
	margin-top: -2em;
}

.skill-box{
	background: #000000;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	position: relative;
	height: 22.5rem;
	width: 95%;
	margin: 5em auto;
	border-radius: 20px;
	text-align: left;

	li{

		p{
			margin-left: 2.5em;
			color: #fff;
			display: inline-block;
		}

		.skill-row{
			background: #fff;
			position: absolute;
			display: inline-block;
			height: 17px;
			width: 60%;
			margin-top: 1.2em;
			border-radius: 15px;
		}
	}	
}

#html{
	padding-top: 1.4em;
}

#html .skill-row{
	margin-left: 2.9em;
}

#mern .skill-row{
	margin-left: 2.75em;
}

#java .skill-row{
	margin-left: 2.9em;
}

#solidity .skill-row{
	margin-left: 1.8em;
}

#data .skill-row{
	margin-left: 2.9em;
}

#analysis {
	color: #fff;
	margin-left: 1.65em;
	margin-top: -1em;
}

.skill-value{
	height: 17px;
	background: #ee0979;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 20px;
}

#html .skill-value{
	width: 90%;
	animation: html 3s ease-out;
}

#mern .skill-value{
	width: 77%;
	animation: mern 3s ease-out;
}

#java .skill-value{
	width: 90%;
	animation: java 3s ease-out;
}

#solidity .skill-value{
	width: 60%;
	animation: solidity 3s ease-out;
}

#data .skill-value{
	width: 75%;
	animation: data 3s ease-out;
}

@keyframes html{
	0%{
		width: 0;
	}
	100%{
		width: 90%;
	}
}

@keyframes mern{
	0%{
		width: 0;
	}
	100%{
		width: 77%;
	}
}

@keyframes java{
	0%{
		width: 0;
	}
	100%{
		width: 90%;
	}
}

@keyframes solidity{
	0%{
		width: 0;
	}
	100%{
		width: 60%;
	}
}

@keyframes data{
	0%{
		width: 0;
	}
	100%{
		width: 75%;
	}
}

.right-svg{
	display: none;
}

#about-section{
	padding-top: 0;
	
	.about-left{

		h1{
			font-size: 40px;
		}

		p{
			font-size: 18px;
		}
	}

	.about-right{
		.about-sub-text{
			margin-top: 7em;
			font-size: 20px;

			.extra-skill{
				.extra-skill-box{
					margin-top: 4em;

					i{
						font-size: 30px;
					}

					p{
						font-size: 17px;
					}
				}
			}
		}
	}
}

.extra-skill-box:hover{
	animation: shake 1s cubic-bezier(.36, .07, .19, .97) both;
	transform: translate3d(0, 0, 0);
}

@keyframes shake{
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}
	  
	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}
	
	30%, 50%, 70% {
		transform: translate3d(-4px, 0, 0);
	}
	
	40%, 60% {
		transform: translate3d(4px, 0, 0);
	}
}

#about-svg{
	width: 85%;
	margin-bottom: -12em;
}

.contact{
	height: 22rem;
	background: #6007C5;

	h3{
		color: #51FF9B;
		font-size: 22px;
		font-weight: 700;
	}

	.social{
		font-size: 35px;
		margin-top: 1.1em;

		i{
			transition: 1s;
		}
	}

	a{
		text-decoration: none;
		color: #fff;
		padding: 0.5em 0.7em;
	}

	.per-contact{
		margin-top: 5em;
	}

}

// .f-git:hover{
// 	color: #000000;
// 	transform: rotate(720deg);
// }

// .f-link:hover{
// 	color: #0e76a8;
// 	transform: rotate(720deg);
// }

// .f-mail:hover{
// 	color: #6998ff;
// 	transform: rotate(720deg);
// }

// .f-ins:hover{
// 	color: #ee0979;  /* fallback for old browsers */
// 	color: -webkit-radial-gradient(circle at 5% 20%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
// 	color: radial-gradient(circle at 15% 20%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
// 	transform: rotate(720deg);
// }

// .f-spo:hover{
// 	color: 	#1DB954;
// 	transform: rotate(720deg);
// }

.fab:hover, .fas:hover{
	transform: rotate(720deg);
}

@media only screen and (min-width: 600px){
	#about-svg{
		margin-bottom: -8em;
	}
}

@media only screen and (min-width: 800px){
	header{
		.logo{
			font-size: 15px;
		}

		ul{
			a{
				font-size: 15px;
			}
		}
	}

	.skill-box{
		width: 70%;
	}

	.extra-skill-box{
		display: inline-block;
		margin: auto 3em;
	}	

	#about-svg{
		margin-bottom: -6em;
	}
}

@media only screen and (min-width: 1050px){
	.hero{
		height: 90vh;
	}

	.nav-container{
		margin: auto initial;
		display: grid;
		grid-template-columns: 66% auto;
		background: unset;

		header{
			background: #6007C5;
		}
	}

	header{
		padding: 2em 2em 2em 4em;
	}

	.social-header{
		padding: 2em 4em 2em 0;
	}

	section{
		padding: 4em;
	}

	.social-header{
		display: block;

		ul{
			display: flex;
			justify-content: space-between;
			width: 8em;
			float: right;

			i{
				font-size: 25px;
				color: #000000;
			}
		}
	}

	.hero{
		display: grid;
		grid-template-columns: 66% auto;
		background: unset;
		padding: 0;

		.content{
			background:#6A00E3;
			padding: 6em 8em 6em 4em;
			text-align: left;

			h1{
				font-size: 2.7em;
				line-height: 1.2em;
			}
		}
	}

	.meet{
		margin: unset;
	}

	.hero-design{
		display: unset;
		margin-left: -50%;
		margin-top: 0;
		width: 100%;
	}

	.featured{
		display: grid;
		grid-template-columns: 45% auto;
		margin-bottom: 7em;

		.left{
			margin-top: 7em;
		}
	}

	.featured::before{
		top: 0;
		left: 0;
	}

	.skill-box{
		height: 21.5em;
		width: 80%;
	}

	#about-svg{
		margin-bottom: -4em;
	}

	.contact{
		display: grid;
		grid-template-columns: 50% auto;
		height:  13em;

		.per-contact{
			 margin-top: 0;
		}
	}
}

@media only screen and (min-width: 1250px){
	header{
		padding: 2em 2em 2em 10em;
	}

	.social-header{
		padding: 2em 10em 2em 0;
	}

	section{
		padding: 5em 5em 4em 5em;
	}

	.hero .content{
		padding: 6em 8em 6em 10em;
	}

	.featured{
		grid-template-columns: 35% auto;
	}

	.right{
		margin: 0;
		padding: 0;
		display: flex;
		position: relative;
	}

	.right-svg{
		display: block;
		width: 20em;
		margin-left: -4em;
		padding-right: 0;
		margin-top: -0.8em;
		
	}

	.skill-box{
		width: 60%;
		padding-left: -2em;
		margin-left: 0;
	}

	.about{
		display: grid;
		grid-template-columns: 33% auto;	
		
		.about-left{
			text-align: left;
			padding-left: 10em;
		}
	}

	#about-section{
		padding-bottom: 0;
	}

	#about-section .about-right .about-sub-text {
		margin-top: 0;
	}

	.contact{
		height: 10em;

		.contact-left, .contact-right{
			margin-top: -1.5em;
		}
	}

	.bottom-svg{
		padding-top: 0;
		margin-top: -7em;
		z-index: -1;
		position: relative;
	}
}

@media only screen and(min-width: 1550px){
	header{
		padding: 2em 2em 2em 20em;
	}

	.social-header{
		padding: 2em 20em 2em 0;
	}

	section{
		padding: 6em 20em 4em 20em;
	}

	.hero .content{
		padding: 9em 20em 6em 20em;
	}
}